.header-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-title {
    flex: 1;
    margin: 10px;
    font-size: 1em;
}

.add-activity-button {
    background: #FFF;
    border: none;
    width: 50px;
    height: 50px;
}